<%- include('../partials/header') %>

    <form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
        <input type="text" value="<%= skill.skill %>" name="skill">
        <br>
        <label>
            Learned 
            <input type="checkbox" name="learned" <%= skill.learned ? 'checked' : '' %>>
        </label>
        <br><br>
        <button type="submit">Update Skill</button>
    </form>

<%- include('../partials/footer') %>
